# Zig构建产物
zig-out/
zig-cache/
.zig-cache/

# Zig编译器（太大，不提交到仓库）
zig-x86_64-linux-0.15.2/
zig-x86_64-windows-0.15.2/
zig-x86_64-*.tar.xz
zig-x86_64-*.zip

# 编辑器
.vscode/
.idea/
*.swp
*.swo
*~

# 系统文件
.DS_Store
Thumbs.db

.VSCodeCounter/

*.png
node_modules/
zig-x86_64-linux-0.15.2
*.log
test_page/results/
